html{
	font-family: Garamond,Times,serif;
}
/* 
.head {
	max-width: 600px;
} */


/* 	.skills {
	max-width: 600px;
} */

.col-left {
	box-sizing: border-box;
}

.col-right {
	box-sizing: border-box;
}

/* .head{
	max-width: 600px;
	max-height: 300px;
	overflow: auto;
} */
.title {
}

.box-photo-adress {
	display: flex;
	justify-content: center;
	max-height: 300px;
	overflow: auto;
}

.box-photo-mathias {
	max-width: 30%;
	float: right;
}

.box-photo-mathias img {
	width: 100%;
    height: auto;
}

.exp-degrees-block, .other-interest-block, .skills {
	/* display: inline-block; */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;	
}

.block {
	/* display: flex;
	flex-direction: column;*/
	border: solid;
	margin: 10px;
	padding: 20px;
}
