.header-top{
	display: flex;
	justify-content: space-between;
	max-width: 800px;
	max-height: 100px;
	margin-left: auto;
	margin-right: auto;
}	

.link-top{
	background-color: #F17F42; 
	margin-left: 40px;
	max-width: 800px;
	width: 100%;
}	

.link-top ul{
	display: flex;
  	flex-direction: row;
  	justify-content: space-between;
  	flex-wrap: wrap;
  	flex-grow: 1;
	font-size: 20px;
	padding: 10px;
	width: 100%;
}

.head-logo img {
	max-width: 250px;
	height: 100px;
}

.big-block {
	display: flex;
	flex-direction: column;
	/* justify-content: space-around; */
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}


body{
	background-color: #FFEEE4;
}
